/*   LITERAL COPY FROM https://datos.gob.mx INLINE STYLES :: begin    */
[uib-tooltip-popup].tooltip.top-left > .tooltip-arrow, [uib-tooltip-popup].tooltip.top-right > .tooltip-arrow, [uib-tooltip-popup].tooltip.bottom-left > .tooltip-arrow, [uib-tooltip-popup].tooltip.bottom-right > .tooltip-arrow, [uib-tooltip-popup].tooltip.left-top > .tooltip-arrow, [uib-tooltip-popup].tooltip.left-bottom > .tooltip-arrow, [uib-tooltip-popup].tooltip.right-top > .tooltip-arrow, [uib-tooltip-popup].tooltip.right-bottom > .tooltip-arrow, [uib-popover-popup].popover.top-left > .arrow, [uib-popover-popup].popover.top-right > .arrow, [uib-popover-popup].popover.bottom-left > .arrow, [uib-popover-popup].popover.bottom-right > .arrow, [uib-popover-popup].popover.left-top > .arrow, [uib-popover-popup].popover.left-bottom > .arrow, [uib-popover-popup].popover.right-top > .arrow, [uib-popover-popup].popover.right-bottom > .arrow {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0;
}

[uib-popover-popup].popover, [uib-popover-template-popup].popover {
    display: block !important;
}

.uib-datepicker .uib-title {
    width: 100%;
}

.uib-day button, .uib-month button, .uib-year button {
    min-width: 100%;
}

.uib-datepicker-popup.dropdown-menu {
    display: block;
    float: none;
    margin: 0;
}

.uib-button-bar {
    padding: 10px 9px 2px;
}

.uib-left, .uib-right {
    width: 100%
}

.uib-position-measure {
    display: block !important;
    visibility: hidden !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.uib-position-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

body {
    transition: opacity ease-in 0.2s;
}

body[unresolved] {
    opacity: 0;
    display: block;
    overflow: hidden;
    position: relative;
}

@charset "UTF-8";
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-shim {
    visibility: hidden;
}

.ng-anchor {
    position: absolute;
}
/*   LITERAL COPY FROM https://datos.gob.mx INLINE STYLES :: end    */

.empty-space {
    margin: 2em;
}

.dataTables_filter {
    display: none;
}

.table-wrapper {
    font-size: 14px;
    margin-bottom: 25px;
}

.search-input {
    border: none;
    font-size: 1.5em;
    height: 35px;
    margin: 0 12px;
    width: 50%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #0c9 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #0c9 !important;
    border-color: #0c9 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #777 !important;
    background-color: #fff !important;
    border-color: #ddd !important;
    cursor: not-allowed !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%) !important;
    border: 1px solid #979797 !important;
    color: #333 !important;
}
