/*   LITERAL COPY FROM https://datos.gob.mx INLINE STYLES :: begin    */
[uib-tooltip-popup].tooltip.top-left > .tooltip-arrow, [uib-tooltip-popup].tooltip.top-right > .tooltip-arrow, [uib-tooltip-popup].tooltip.bottom-left > .tooltip-arrow, [uib-tooltip-popup].tooltip.bottom-right > .tooltip-arrow, [uib-tooltip-popup].tooltip.left-top > .tooltip-arrow, [uib-tooltip-popup].tooltip.left-bottom > .tooltip-arrow, [uib-tooltip-popup].tooltip.right-top > .tooltip-arrow, [uib-tooltip-popup].tooltip.right-bottom > .tooltip-arrow, [uib-popover-popup].popover.top-left > .arrow, [uib-popover-popup].popover.top-right > .arrow, [uib-popover-popup].popover.bottom-left > .arrow, [uib-popover-popup].popover.bottom-right > .arrow, [uib-popover-popup].popover.left-top > .arrow, [uib-popover-popup].popover.left-bottom > .arrow, [uib-popover-popup].popover.right-top > .arrow, [uib-popover-popup].popover.right-bottom > .arrow {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0;
}

[uib-popover-popup].popover, [uib-popover-template-popup].popover {
    display: block !important;
}

.uib-datepicker .uib-title {
    width: 100%;
}

.uib-day button, .uib-month button, .uib-year button {
    min-width: 100%;
}

.uib-datepicker-popup.dropdown-menu {
    display: block;
    float: none;
    margin: 0;
}

.uib-button-bar {
    padding: 10px 9px 2px;
}

.uib-left, .uib-right {
    width: 100%
}

.uib-position-measure {
    display: block !important;
    visibility: hidden !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.uib-position-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

body {
    transition: opacity ease-in 0.2s;
}

body[unresolved] {
    opacity: 0;
    display: block;
    overflow: hidden;
    position: relative;
}

@charset "UTF-8";
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-shim {
    visibility: hidden;
}

.ng-anchor {
    position: absolute;
}
/*   LITERAL COPY FROM https://datos.gob.mx INLINE STYLES :: end    */

.empty-space {
    margin: 2em;
}

.dataTables_filter {
    display: none;
}

.table-wrapper {
    font-size: 14px;
    margin-bottom: 25px;
}

.search-input {
    border: none;
    font-size: 1.5em;
    height: 35px;
    width: 50%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #0c9 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #0c9 !important;
    border-color: #0c9 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #777 !important;
    background-color: #fff !important;
    border-color: #ddd !important;
    cursor: not-allowed !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%) !important;
    border: 1px solid #979797 !important;
    color: #333 !important;
}

.tooltip-inner {
    max-width: 245px;
    padding: 11px 10px;
    color: #fff;
    /* text-align: center; */
    background-color: #000;
    border-radius: 4px;
}

.table-header {
    margin-top: -3%;
    font-weight: bold;
}

.totals {
    color: #0c9;
    font-size: 48px;
    font-weight: bold;
}

p.author span {
    font-size: 13px;
    font-weight: bold;
}

section#landing-data .data-table {
    margin-top: 20px;
}

.data-table p.author span {
    margin-left: 8px;
}

.datosTitle a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 400px;
}

.data-table table>tbody>tr>td {
    padding-bottom: 10px;
}

#searchbox {
    width: 100%;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 16px 0 22px 16px;
    margin-bottom: 30px;
}

input#searchbox::placeholder {
    font-size: 14px;
}

.table-wrapper i.fa-search {
    position: absolute;
    right: 30px;
    top: 9px;
    font-size: 20px;
    transform: scale(-1, 1);
    opacity: 0.6;
    display: block;
}

table.dataTable tbody tr {
    background-color: transparent;
}

table.dataTable.no-footer {
    border-bottom: none;
}

.table>thead>tr>th {
    border-bottom: none;
}

thead th:nth-of-type(1) {
    width: 40%;
}

.dataTable {
    background-color: #efefef;
    border-radius: 4px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
}

section#landing-table .data-table {
    padding: 0px;
    margin-bottom: 40px;
}

/* #apf_table_previous, #apf_table_next {
    display: block;
} */
 #apf_table_previous {
    border: 1px solid #d8d8d8;
    margin-right: 5px;
    border-radius: 4px;
}

#apf_table_previous:hover {
    margin-right: 6px;
}

#apf_table_next {
    border: 1px solid #d8d8d8;
    margin-left: 5px;
    border-radius: 4px;
}
#apf_table_next:hover {
    margin-left: 6px;
}

#apf_table_paginate {
    background-color: white;
}

#apf_table_paginate > span {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 8px 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #d8d8d8 !important; 
    border-color: #d8d8d8 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #d8d8d8 !important; 
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #d8d8d8 !important; 
    border: #d8d8d8 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 4px 11px;
    margin: 0px;
    min-width: 24px;
    border-right: 1px solid #d8d8d8;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:last-of-type {
    border-right: none;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 9px;
    margin: 0px;
    min-width: 24px;
    border-right: 1px solid #d8d8d8;
}