{% load static from staticfiles %}
{% load humanize %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Tabla Comparativa</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="">

    <!-- dataTables jquery plugin -->
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.css" %}">

    <!-- Custom Fonts -->
    <link href="{% static "css/font-awesome/font-awesome.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:Bold" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{settings.CDN_GOB_ROOT_URL}}assets/css/main.css">
    {% comment %}
    <link rel="stylesheet" href="/static/buda/css/datos_gob_mx.css?5675342387">
    {% endcomment %}
    <link rel="stylesheet" href="{% static "css/datos_gob_mx.css" %}">

    {% comment %}
        <link rel="stylesheet" href="{% static "css/datos_gob_mx.css" %}">
        <link rel="stylesheet" href="/static/buda/css/datos_gob_mx.css?18153744">

        <link rel="stylesheet" type="text/css" href="https://datos.gob.mx/css/style.css">
        <link rel="stylesheet" href="{% static "css/opi_main.css" %}">
        <link rel="stylesheet" href="/static/buda/css/opi_main.css?18151357">
    {% endcomment %}

    <!-- jQuery -->
    <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>

    {% comment %}
        <link rel="import" href="{% static "bower_components/polymer/polymer.html" %}">
        <link rel="import" href="{% static "bower_components/dgm-navbar/dgm-navbar.html" %}">
        <link rel="import" href="{% static "bower_components/dgm-footer/dgm-footer.html" %}">
    {% endcomment %}
      
    <link rel="import" href="{{settings.CDN_GOB_ROOT_URL}}bower_components/polymer/polymer.html">
    <link rel="import" href="{{settings.CDN_GOB_ROOT_URL}}bower_components/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="{{settings.CDN_GOB_ROOT_URL}}bower_components/dgm-footer/dgm-footer.html">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .landing-header {
            padding-top: 30px;
            padding-bottom: 60px;
            text-align: center;
            color: rgba(255,255,255,0.9);
            position: relative;
            margin-bottom: 0;
        }

        .landing-header img {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            min-height: 100%;
        }
        .row-totales {
            margin-top: 70px;
        }
        .beta {
            color: white;
            font-size: 14px;
            background-color: #6b6b6b;
            font-weight: bold;
            padding: 5px;
        }
        .header-tableros {
            margin-top: 50px;
        }
        .layer {
            position: relative;
            background-color: rgba(21, 21, 21, 0.7);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .table-header {color: #0c9;}
        .text-center { text-align: center !important; }
        .dataTable tr th { color: #0c9; text-transform: uppercase; }
        .datos-institucion { width: 100px; font-weight: 600; color: #6f6c6c; }
        .datosTitle a { width: 345px; }
        .span-no-bold { font-weight: 400 !important; font-size: 14px !important; }
        #downloadsTotal, #resourcesTotal, #dependencesTotal { font-size: 36px; }
        .data-table tr th { text-align: right; }
    </style>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44411606-12"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-44411606-12');
    </script>

</head>
<body class="front">
<div id="main">
    <dgm-navbar></dgm-navbar>
    <div id="container" class="">
        <section id="landing-header" class="landing-header">
            <div class="background">
                <img src="{% static "img/notes-macbook-study-conference.jpg" %}">
                <div class="layer"></div>
            </div>
            <div class="container-fluid header-tableros">
                <div class="row">
                    <div class="col-md-12">
                        <span class="beta">BETA</span>
                        <h1>Tablero de seguimiento institucional</h1>
                        <p>Análisis condensado de publicación de datos por institución.</p>
                    </div>
                </div>
                <div class="row row-totales">
                    <div class="col-md-4" style="padding-left: 100px;">
                        <p class="author">
                            <span class="span-no-bold text-uppercase">DESCARGAS TOTALES</span>
                        </p>
                        <div class="title">
                            <h3 id="downloadsTotal2" style="font-size: 36px;">{{total_downloads|intcomma }}</h3>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <p class="author ">
                            <span class="span-no-bold text-uppercase">TOTAL DE DATOS ABIERTOS PUBLICADOS</span>
                        </p>
                        <div class="title ">
                            <h3 id="resourcesTotal"></h3>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <p class="author ">
                            <span class="span-no-bold text-uppercase">TOTAL DE INSTITUCIONES PUBLICANDO</span>
                        </p>
                        <div class="title ">
                            <h3 id="dependencesTotal"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="landing-data" class="section-data">
            <div class="breadcrumb-container ng-scope">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-12">
                        <breadcrumb>
                           <ul class="breadcrumb">
                              <li><a ui-sref="landing" href="/"><i class="glyphicon glyphicon-home"></i></a></li>
                              <li><a href="/tablero-instituciones/">Home</a></li>
                           </ul>
                        </breadcrumb>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="data-table">
                            <p class="author table-header">
                                <span class="">TOP 5 - Datos más descargados</span>
                            </p>
                            <table class="table" id="top-5-datos">
                                <thead class="hidden-xs hidden-sm">
                                <!--<tr>
                                    <th>Datos</th>
                                    <th class="text-center">Descargas</th>
                                </tr>-->
                                </thead>
                                <tbody id="table-datos">
                                <tr class="hidden-xs hidden-sm "></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="data-table">
                            <p class="author table-header">
                                <span>TOP 5 - Instituciones con más descargas</span>
                            </p>
                            <table class="table" id="top-5-institucion">
                                <thead class="hidden-xs hidden-sm">
                                <!--<tr>
                                    <th>Institución</th>
                                    <th class="text-center">Descargas</th>
                                </tr>-->
                                </thead>
                                <tbody id="table-downloads">
                                <tr class="hidden-xs hidden-sm "></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="landing-table" class="section-data ">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Tablero de instituciones de la APF</h2>
                        <p>En esta sección podrás dar seguimiento al cumplimiento de la <a href="https://datos.gob.mx/guia">Política de Datos Abiertos</a> por parte de las instituciones del Gobierno de la República.</p>
                    </div>
                </div>
                <div class="row">
                        <div class="table-wrapper">
                            <div class="col-md-12">
                                <i class="fa fa-search fa-2x"></i>
                                <input class="search-input" type="text" id="searchbox" placeholder="Busca una institución">
                            </div>
                            <div class="col-md-12">
                                <div class="data-table">
                                    <table class="table" id="apf_table">
                                        <thead class="hidden-xs hidden-sm">
                                        <tr>
                                            <th style="text-align: left;">INSTITUCIÓN</th>
                                            {% comment %}
                                            <th>Ranking <i class="fa fa-question-circle" data-toggle="tooltip" title="El ranking contempla: la clasificación de la calidad en los datos, puntualidad en el cumplimiento, descargas realizadas y las recomendaciones por atender"></i></th>
                                            {% endcomment %}
                                            <th style="text-align: center; width: 75px;">DATOS</th>
                                            <th style="text-align: center; width: 110px !important;">DESCARGAS</th>
                                            <th style="text-align: center; width: 85px;">LINKS ROTOS <i class="fa fa-question-circle" data-toggle="tooltip" title="La URL no pudo ser leída por el robot. Esto puede significar que la URL está caída, o no sea accesible para robots, o cargue demasiado lento"></i></th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </div>
    <dgm-footer></dgm-footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- raty jquery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js"></script>
    <!-- dataTables jquery plugin -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <!-- Custom JS -->
    <script src="{{settings.CDN_GOB_ROOT_URL}}bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    {% comment %}
        
    <script src="/static/buda/js/main.js?434343431333423" type="text/javascript"></script>
    {% endcomment %}
    <script src="{% static "js/main.js" %}" type="text/javascript"></script>
</div>
</body>
</html>
